<body>
    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 imgdiv">
                <img class="img-fluid" src=".\assets\whiteroller.png" alt="image" style="background:transparent">
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-colunm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 accountinfo" >
                        <!-- User Info -->
                       <div class="accountInfo">
                        <img src=".\assets\clearuser.png">
                        <h3>Dave Chapelle</h3>
                        <p>Rating: <span>4.8 <i class="fa fa-star fa-1x" id="star" aria-hidden="true"></i></span></p>
                        
                        <p>Grandrapids, MI</p>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 productdiv">
                        <!-- Product Description -->
                       <div class="product-description">
                        <h1>Need wall Painted</h1>
                       <div class="category"><h5>Paint</h5></div>
                        <p>Just moved into our new house and we want to add a bit of color. We are looking for someone to paint 4 rooms. There is a local homedepot where supplies and paint can be bought. we would like this to be done within 3 days</p>
                      </div>
                   
                      <!-- Product Pricing -->
                      <div class="product-price">
                        <span>$148</span>
                        <button type="button" class="btn btn-success">Success</button>
                      </div>
                    </div>
                     </div>
             </div>
         </div>
    </section>   
















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>