<body>
<section id="contact">
    <div class="container">
    <div class="row">

    <div class="col-md-6 col-sm-6 col-xs-12 support vertical-align" id="signuptext">
          <h1>Your Almost There !</h1>
          <i class="fa fa-paper-plane fa-5x" id="plane" aria-hidden="true"></i>
          <br>
          <p>Post jobs you need to get done, or accept thousands of local jobs and put money in your pocket! </p>
          <br>
          <p> Let's get to work!</p>
          </div>
      <div class="col-md-6 col-sm-6 col-xs-12 contact-form">
        
        <form>
          <div class="row">
            <div class="col-md-6 col-sm-12" >
              <div class="form-group">
                <input type="text" class="form-control" id="first" placeholder="First Name">
              </div>
            </div>
             <div class="col-md-6 col-sm-12" >
              <div class="form-group">
                <input type="text" class="form-control" id="last" placeholder="Last Name">
              </div>
            </div>
             <div class="col-md-12 col-sm-12" >
              <div class="form-group">
                <input type="tel" class="form-control" placeholder="Phone Number">
              </div>
            </div>
             <div class="col-md-12 col-sm-12" >
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address">
              </div>
            </div>
            <div class="col-md-12 col-sm-12" >
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Password">
              </div>
            </div>
          </div>
          <button class="btn btn-info btn-lg col-md-6 col-sm-12" id="getstarted"><i class="fa fa-paper-plane" id="brandlogo" aria-hidden="true"></i>Submit</button>
          <button class="btn btn-info btn-lg col-md-6 col-sm-12" id="signInBtn"><i class="fa fa-user"></i> Sign In</button>
        </form>
        
      </div>
      
      </div>
      </div>

  </section>
</body>
<script   type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
