<body>
    <div class="container-fluid search">
        <br/>
            <div class="input">
                <form action="submit">
                    <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
    </div>
    
    <div class="container-fluid px-0 catdiv">
        <h2>Catagories</h2>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" >
                <div class="col-lg-2 col-md-2 col-sm-2 othercat cat" >
                    <img src=".\assets\other.jpg" alt="other">
                    <h4>other</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 shopcat cat" >
                    <img src=".\assets\shop.jpg" alt="build">
                    <h4>shop</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 cleancat cat" >
                    <img src=".\assets\clean.jpg" alt="build">
                    <h4>clean</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 writecat cat" >
                    <img src=".\assets\write.jpg" alt="build">
                    <h4>write</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 buildcat cat" >
                    <img src=".\assets\build.jpg" alt="build">
                    <h4>build</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 performcat cat" >
                    <img src=".\assets\perform.jpg" alt="build">
                    <h4>perform</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0 cardcontainer">
        <h2>See all latest Jobs</h2>
        <div class="cards">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </div>
    </div>

</body>
